/*.freeworld{
	margin: 10px 20px;
	height: 400px;
	width: 300px;
	border: black 5px solid;
	float:left;
}
h1{
	position: relative;
	margin-top: 200px;
	font-size: 32px;
	text-align: center;
}
*/
body{
	background-color: beige;
}

.profile-pic{
    max-width: 300px;
    height: 100px;
    margin-top: 90px;
	border: black 2px solid;
	animation-duration: 4s;
	-webkit-animation-duration:4s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;

}
.card-text {
	font-size: 13.5px;
	padding: 0 10px;
	font-style: italic;
	font-family: Helvatica; 
}

.icon {
	color: black;
	margin: 0 2px;
}

.card {
	margin-top: 20px;
}
.card-title {
	padding: 5px 10px 0 10px;
}

.card-title:hover {
	color: maroon;
	font-size: 30px;
}
.video {
	margin: 0 auto;
	display: block;
}
.trasparent{
	background-color: transparent;
	border: none;
}
.profile-card{
	background: url(../images/yo.jpg);
	background-size: 400px 170px;
	background-repeat: no-repeat;
}

